<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_asUvmtKH6QPTIDr5JgO4h15WcRSpR3g</string>
	<key>GCM_SENDER_ID</key>
	<string>1041473362026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flavorhubFoodApp</string>
	<key>PROJECT_ID</key>
	<string>falvourhub-food-app</string>
	<key>STORAGE_BUCKET</key>
	<string>falvourhub-food-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041473362026:ios:f19ef7c7018f832573d213</string>
</dict>
</plist>